include README.md
include LICENSE
include ethome/data/sample_dataframe.pkl
include ethome/data/sample_nwb_.nwb
include ethome/data/videos/m3v1mp4.mp4
recursive-include ethome/data/dlc *.csv
recursive-include ethome/dl/pretrained_models *